{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">


<h2 class="mb-4">
    Add Patient
</h2>

<form method="POST">

    <div class="row">

        <div class="col-md-6 mb-3">

            <label>First Name</label>

            <input
                type="text"
                name="first_name"
                class="form-control"
                required>

        </div>

        <div class="col-md-6 mb-3">

            <label>Last Name</label>

            <input
                type="text"
                name="last_name"
                class="form-control"
                required>

        </div>

        <div class="col-md-6 mb-3">

            <label>Gender</label>

            <select
                name="gender"
                class="form-control">

                <option>Male</option>
                <option>Female</option>

            </select>

        </div>

        <div class="col-md-6 mb-3">

            <label>Phone</label>

            <input
                type="text"
                name="phone"
                class="form-control">

        </div>

        <div class="col-md-6 mb-3">

            <label>Email</label>

            <input
                type="email"
                name="email"
                class="form-control">

        </div>

        <div class="col-md-6 mb-3">

            <label>Date of Birth</label>

            <input
                type="date"
                name="dob"
                class="form-control">

        </div>

        <div class="col-md-12 mb-3">

            <label>Address</label>

            <textarea
                name="address"
                class="form-control"></textarea>

        </div>

    </div>

    <button
        class="btn btn-primary">

        Save Patient

    </button>

</form>


</div>

{% endblock %}
